.card a{
    text-decoration: none;
    letter-spacing: 2px;
    color: black;
    font-weight: 500;
}


ul li {
    list-style: none;
    padding-top: 3px;
}

.card hr{
    border: 3px solid black;
}

.col-lg-9 h2{
    font-weight: bolder;
    float: left;
}