.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: 'Quicksand', sans-serif!important;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
div{
  display: block;
}

.container-fluid p{
  margin: auto;  
}
/*==================================animattion================================*/
@keyframes fadeUp{
  0%{
      transform: translateY(3rem);
  }
  100%{
      opacity: 1;
      transform: translateY(0);
  }
}
.fade-up-animation{
  animation: fadeUp 2s forwards;
  animation-delay: 0.75s;
}
/*======================================header=================================*/
.sub-header{
  position: fixed;
  display: block;
  top: 0;
  font-size: 16px;
  background-color: #f0f0f0;
  align-items: center;
  width: 100%;
  height: 30px;
  z-index: 9696;
}
.sub-header p{
  letter-spacing: 1px;
}

/* .main-header{
  background-color: rgb(255, 255, 255);
  position: fixed; 
  top: 30px; 
  width: 100%;
  overflow:hidden;
  z-index: 9696;

  display: flex;
  justify-content: space-between;
} */

/* .logo{
  margin-top: 8px;
  margin-left: 8px;
}
.logo a{
  color: rgb(245, 81, 81);
}
.logo h3{
  font-weight: bolder;
  letter-spacing: 1.5px;
}

.navbar li{
  list-style: none;

} */


/* .wrap-icon img{
  width: 2.5rem;
  float: right;
  padding-right: 1rem;
  margin-top: 1rem;
}
.wrap-icon{
  margin-right: 80px;
} */



/* .header-menu{
  margin-top: 15px;
  display: flex;
  } */
/* .header-menu a{
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  color: black;
} */
/* .header-menu a:hover{
  color: rgb(79, 197, 79);
  text-decoration: underline;
} */

/* .search-input{
  border: none;
  width: 0;
  transition: width 0.2s ease-in;
  color: black;
}

.search-input.active{
  width: 90%;
} */

/*=============================Home Page=======================*/
@keyframes fadeDown{
  0%{
    transform: translateY(-2rem);
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
.main{
  margin-top: 120px;
  background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
}
.carousel-inner img{
  height: 100%;
  width: 100%;
}

.card img{
  height: 100%;
  width: 100%;
}

.card-title,
.card-text{
  color: #f0f0f0;
}

/* .swap-on-hover{
  position: relative;
} */
/* .swap-on-hover img{
  
  overflow: hidden;
  width: 400px;
	height: 400px;
} */
.card .card-img-middle-hover{
  display: none;
}
.card:hover .card-img-middle-hover{
  display: inline;
}
.card:hover .card-img-middle{
  display: none;
}

.bottom-left{
  position: relative;
}

.card-img-overlay{
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.section-header{
  color: rgb(245, 81, 81);
  opacity: 0;
  animation: fadeDown 2s infinite;
  animation-delay: 0.75s;
}

.zoom{
  transition: transform 0.5s ease;
  box-shadow: 0 4px 6px 0 rgba(27, 27, 31, 0.18);
  border-radius: 0;
  border: 0;
}
.zoom:hover{
  transform: scale(1.1);
}
/*===========================footer=======================================*/
footer{
  display: block;
}
.top-footer{
  background-color: #f3f3f3;
  display: flex;
  padding: 15px 0;
}
.top-footer .btn-danger{
  margin-left: 42px;
}
.mail-subcribe{
  display: flex;
}
.mail-subcribe img{ 
  height: 1.5rem;
  padding-left: 20px;
}
.mail-subcribe p{
  font-weight: bold;
  font-size: larger;
  margin-left: 10px;
}
.mail-subcribe-form{
  margin-left: 16px;
width: 55%; 
height: 20px;
}


.footer-img img{
  height: 1rem;
  width: 1rem;
  margin-left: 60px;
}

.top-footer input {
  box-sizing: content-box;
}
/*================================Contact page======================*/
.contact h3{
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}
.box-info-contact{
  margin-left: 2rem;
}
.box-info-contact p{
  padding-top: 3rem;
}

/*=========================================Intro page=============================*/
.intro-side-card{
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.intro-side-card h5{
  margin-top: 20px;
}
.intro-side-card p{
  padding-left: 15px;
  padding-top: 15px;
  text-decoration: none;
  font-size: 18px;
  color: black;
}
.intro-side-card hr{
  width: 98%;
  border: 0.5px solid black;
 
}

.intro-content h3{
  font-weight: bolder;
  letter-spacing: 1px;
}
.intro-content p{
  padding-bottom: 15px;
}

.border-right{
  border-right: 1px solid black;
  padding: 8rem 0;
}
.border-left{
  border-left: 1px solid black;
  padding: 8rem 0;
}

/*======================================Draft-js Editor Component================================*/
.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color:rgb(245, 239, 239);
  padding: 1rem;
  border: 1px solid #ccc;
  
}
.toolbar-class {
  border: 1px solid #ccc;
}

.blog-list{
  margin-bottom: 1rem;
}

.row-table{
  width: 99%;
  text-overflow: clip;
}
.content-column{
  width: 60%;
}
.title-row{
  overflow-x: hidden;
}