.breadcrumb a {
    color: black;
}

.box-sidebar{
    margin-top: 64px ;
}
.box-sidebar a{
    float: left;
    color: black;
    font-size: large;
    padding-bottom: 12px;
}
.breadcrumb a:hover,
.box-sidebar a:hover{
    color: #5ac56c;
}

