*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

.layout-account{   
    padding: 6rem 0;
}
.user-box a{
    color: black;
}
.user-box a:hover{
    color: rgb(79, 197, 79);
}

@keyframes fadeUp{
    0%{
        transform: translateY(3rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
  }